<tr>
    <th>
        Relay
    </th>
    <td id="td-FK_R"></td>
</tr>
<tr>
    <th>
        Discipline
    </th>
    <td id="td-FK_D"></td>
</tr>
<script>
    $(document).ready(function() {
        CreateRelaysDropdown(0, $("#td-FK_R"));
        CreateDisciplinesDropdown(0, $("#td-FK_D"));
    });
</script>