@model Shared.Models.db.DisciplineDTO

<tr>
    <th>
        Discipline
    </th>
    <td>
        @Html.TextBoxFor(x => Model.DiscName)
    </td>
</tr>
<tr>
    <th>
        Meters
    </th>
    <td>
        @Html.TextBoxFor(x => Model.Meters)
    </td>
</tr>