@model Shared.Models.db.TimeDTO
<tr>
    <th>
        Person
    </th>
    <td>
        @Html.Raw(Model.Person.DisplayName)
    </td>
</tr>
<tr>
    <th>
        Discipline
    </th>
    <td>
        @Html.Raw(Model.Discipline.DisplayName)
    </td>
</tr>
<tr>
    <th>
        Date
    </th>
    <td>
        @Html.Raw(Model.Date.ToString("dd. MMMM yyyy"))
    </td>
</tr>
<tr>
    <th>
        Seconds
    </th>
    <td>
        @Html.Raw(Model.Seconds.ToString("00.00"))
    </td>
</tr>